#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ 


# clean:
# 	# nothing

# build:
# 	# nothing

# build-arch:
# 	# nothing

# build-indep:
# 	# nothing

# install:
# 	mkdir -p $(CURDIR)/debian/snow2-client/usr/bin
# 	mkdir -p $(CURDIR)/debian/snow2-client/usr/share
# 	$(MAKE) DESTDIR=$(CURDIR)/debian/snow2-client SCHEME=chibi install

# binary:
# 	# nothing

# binary-arch:
# 	# nothing

# binary-indep:
# 	make SCHEME=chibi build

# get-orig-source:
# 	# nothing
