#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	echo
	echo XXX $@ XXX
	echo
	dh $@ 


clean:
	dh_testdir -i
	dh_auto_clean -i
	dh_clean -i


build-indep:
	dh_testdir -i
	dh_auto_configure -i
	SCHEME=chibi dh_auto_build -i
	dh_auto_test -i


binary-indep:
	# dh_testroot -i
	# dh_prep -i
	dh_installdirs -i
	SCHEME=chibi dh_auto_install -i
	# dh_installdocs -i
	# dh_installchangelogs -i
	# dh_installdeb -i
	dh_gencontrol -i
	# dh_md5sums -i
	dh_builddeb -i
